html {
    font: 13pt Arial;
}
body {
    background: url("_imagens/cc0e1.png") no-repeat top center fixed;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
        font-size: 14px;
        line-height: 1.5;
}
    .resultado b {
        width: 170px;
        display: inline-block;
    }
    pre {
        font-family: Consolas, monospace;
        display: block;
        clear: both;
        padding: 20px;
        width: 380px;
        background: #eee;
        border: 2px dashed #0B486B;
    }
    @font-face{
    font-family: 'Nunito';
    src: url(_fontes/Nunito-Regular.ttf);
}


div::before {
    content: " CIDR ";
    text-align: center;
    font: 18pt Arial;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    color: white;
    background-color: #0B486B;
    padding: 5px;
    display: block;
    position: relative;
    top: -10px;
    left: -10px;
    width: 560px;

}

div {
    background-color: rgba(255,255,255,.9);
    margin: 100px auto;
    padding: 10px;
    width: 550px;
    min-height:300px;
}

#botaoCalcular:hover {
    box-shadow: 4px 8px 8px 2px rgba(0,0,0,0.3);
}

#voltarInicio{
    margin: 10% 1% 0 25%;
    color: white;
    font-family: 'Nunito', sans-serif;
    background-color: #008CBA;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
}
#voltarInicio:hover{
  background-color: #0B486B;
}

span.foco {
    font-weight: bold;
    color: #7e050c;
}
